{% extends 'index.html'%}
{% load static %}
{% block content %}

  <div class="container">
    <h1>{{details.title}}</h1>
    <img src="{{details.secondBanner.url}}" alt="Placeholder Image">
    <div class="description">
      <h2>Description</h2>
      <p>{{details.description|safe}}</p>
    </div>
    <div class="policy">
      <h2>Policy</h2>
      <p>{{details.ticketPolicy|safe}}</p>
    </div>
    <div class="acknowledgement">
      <h2>Acknowledgement</h2>
      <p>{{details.acknowledgement|safe}}</p>
    </div>
  </div>

{% endblock %}

