{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Ticket Card Demo</title>
<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    {% for n in dashboardData %}
<div class="ticket-card">
  <div class="ticket-header">
    <h2 class="ticket-title ">{{n.title}}</h2>
    <img src="{{n.secondBanner.url}}" alt="dummy">
    
  </div>
  <div class="ticket-details">
    <p class="ticket-info"><strong>Artist:</strong>{{n.artist}}</p>
    <p class="ticket-info"><strong>Location:</strong>{{n.location}}</p>
    <p class="ticket-info"><strong>Gate Opens: </strong>{{n.gateOpens}}</p>
    <p class="ticket-info"><strong>Gate Closes:</strong>{{n.gateCloses}}</p>
    <p class="ticket-date"><strong>Description:</strong> {{n.description|safe}}</p>
    <br>
    <span class="ticket-date"><strong>Acknowledgement:</strong> {{n.acknowledgement|safe}}</span>
    <br>
    <span class="ticket-date"><strong>Ticket Policy:</strong> {{n.ticketPolicy|safe}}</span>
    <br>
    <span class="ticket-date"><strong>Event Faq:</strong> {{n.eventFaq|safe}}</span>
    <a href="{% url 'about_ticket' %}">Buy</a>
  </div>
</div>
{% endfor %}
</body>
</html>
